name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Conda
      uses: conda-incubator/setup-miniconda@v2.0.0
      with:
        environment-file: environment.yml
        activate-environment: gaps

    - name: Build
      shell: bash -l {0}
      run: |
        FAST=true make -j
